
@inject IGetGroupsForCustomerUC _IGetGroupsForCustomerUC

<h3>Your Groups</h3>

@if (groups != null && groups.Any())
{
    @foreach (var group in groups)
    {
        <GroupItem CustomerId="@CustomerId" GroupId="@group.GroupId" />
        <hr />
    }
}
else
{
    <p>No groups available.</p>
}

@code {
    [Parameter] public int CustomerId { get; set; }
    private List<Group> groups = new List<Group>();

    protected override async Task OnInitializedAsync()
    {
        groups = await _IGetGroupsForCustomerUC.ExecuteAsync(CustomerId);
    }
}

