<details>
   
    <summary class="d-flex justify-content-between align-items-center header3Font">
        <div class="container">
            <div class="row d-flex justify-content-between align-items-center mb-4">
                <!-- First Row -->
                <div class="col">
                    @_customer?.CustomerName @group.GroupName
                </div>
                <div class="col d-flex justify-content-end header4Font">
                    EAN :@group.EAN
                </div>
            </div>
            <div class="row d-flex justify-content-between align-items-center">
                <!-- First Row -->
                <div class="col">
                    <div>
                        Total &ensp; <span class="text-primary">@group.GetTotalPriceForAgroup().ToString("c2")</span>
                        <span class="header4Font">&ensp;/&ensp; (@group.GetTotalQuantityForAgroup())</span> licenser
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </summary>



    <!-- Group -->
    <div class="m-3">
        <CustomGPHeaderRow Headers='new string[] { "Type", "Cost", "Remaining" }'
                           Conditions='new bool[] { true, true, true }' />
        <table class="table table-borderless">
            <tbody>
                @foreach (var product in group.GroupProducts.Where(gp => gp.AddedQuantity > 0))
                {
                    <GetGroupProductItem GroupProduct="product" />
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
            <button class="btn btn-outline-secondary" @onclick="()=>ShowGroupDetails.InvokeAsync(group.GroupId)">Edit</button>
            <button class="btn btn-outline-danger border-0" @onclick="()=>DeleteGroupWithAllItsGP.InvokeAsync(group.GroupId)"><i class="fa fa-trash"></i></button>
        </div>
    </div>
</details>

