
@if (GroupProduct.PurchasedProduct != null)
{
        <tr class="grid-container">
        <td class="grid-item">@GroupProduct.PurchasedProduct.ProductName</td>
        <td class="grid-item">@GroupProduct.PurchasedProduct.ProductPrice.ToString("c2")</td>
        <td class="grid-item">@GroupProduct.AddedQuantity</td>
    </tr>
}

@code {

    [Parameter]
    public GroupProduct GroupProduct { get; set; } = new GroupProduct();
}


