
<tr class="d-flex justify-content-sm-between align-baseline">
    <td>@GroupProduct.ProductName</td>
    <td>@GroupProduct.ProductPrice</td>
    <td>
        <span>@($"{GroupProduct.AddedQty} + {GroupProduct.InputProductQuantity} = {GroupProduct.AddedQty + GroupProduct.InputProductQuantity}")</span>
    </td>
    <td>
        <div class="position-relative">
            <input type="number"
                   @key="GroupProduct.PurchasedProductId"
                   min="0"
                   max="@PurchasedProductAvailability"
                   class="inputNumber"
                   id="inputNumber@(GroupProduct.PurchasedProductId)"
            @bind="GroupProduct.InputProductQuantity" />

            @if (IsInvalidQuantity())
            {
                <span class="position-absolute bottom-0 start-0 translate-middle p-2 bg-danger border border-white rounded-circle"></span>
            }
        </div>
    </td>
    <td>
        <button class="btn btn-outline-danger" @onclick="RemoveProductClicked"><i class="fa fa-trash"></i></button>
    </td>
</tr>


