.input-container {
    display: flex;
    align-items: center;
}

.arrow-button {
    font-size: 14px; /* Adjust the font size as needed */
    padding: 2px 5px; /* Adjust padding for button size */
}

    .arrow-button i {
        vertical-align: middle; /* Align the arrow icon vertically */
    }

.up-button {
    margin-right: 5px; /* Add margin for spacing between buttons and input */
}

.down-button {
    margin-left: 5px; /* Add margin for spacing between buttons and input */
}

.num {
    /* Your input styles here */
}
