@foreach (var purchasedProductDto in PurchasedProductDtos)
{
    <div class="@ClassName">
        <div class="grid-item">@purchasedProductDto.ProductName</div>
        <div class="grid-item">@purchasedProductDto.ProductPrice</div>
        <div class="grid-item">@purchasedProductDto.PurchasedQty</div>
    </div>
}

@code {
    [Parameter]
    public List<PurchasedProductDto> PurchasedProductDtos { get; set; } = new List<PurchasedProductDto>( );
    [Parameter] public string ClassName { get; set; } = string.Empty;
}

