@page "/create-group/{customerId:int}"

@inject ICreateGroupUC _ICreateGroupUC
@inject IGetCustomerWithGroupsAndProductsUC _IGetCustomerWithGroupsAndProductsUC
@inject NavigationManager NavigationManager
@inject NotificationService _notificationService
@inject IJSRuntime JSRuntime

<div class="card shadow">
    <div class="card-body">
        <h3 class="">Velkommen: @(_customer?.CustomerName??string.Empty)</h3>
        <div class="card p-4 mb-2">
            <h6>Opret en gruppe, og klik derefter på rediger for at tilføje produkter</h6>
        </div>
        <div class="card p-2">
            <EditForm Model="_groupModel" OnValidSubmit="CreateGroupAsync">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label for="GroupName" class="m-2">Gruppenavn:</label>
                    <InputText id="GroupName" @bind-Value="_groupModel.GroupName" class="form-control" placeholder="indtast gruppenavn" />
                    <ValidationMessage For="@(() => _groupModel.GroupName)" />
                </div>

                <div class="form-group p-2">
                    <button type="submit" class="btn btn-success">Opret gruppe</button>
                </div>
            </EditForm>
        </div>
       @* <!-- Back Button -->
        <div class="form-group m-2 p-2">
            <button class="btn btn-secondary" @onclick="GoBack">Cancel</button>
        </div>*@
    </div>
</div>

@code {
    [Parameter]
    public int customerId { get; set; }
    private Customer? _customer = new Customer();
    private Group _groupModel = new Group();
    protected override async Task OnInitializedAsync()
    {
        _customer = await _IGetCustomerWithGroupsAndProductsUC.ExecuteAsync(customerId);
    }

    private async Task CreateGroupAsync()
    {
        try
        {
            Group? result = await _ICreateGroupUC.ExcecuteAsync(customerId, _groupModel.GroupName);
            if (result!=null)
            {
                // Group created successfully, navigate to a success page or perform other actions
                await _notificationService.ShowSuccessNotification("Gruppen oprettet med succes!", $"Gruppenavnet er: {result.GroupName}");
                NavigationManager.NavigateTo($"/customer/{customerId}", forceLoad: true);
            }
            else
            {
                // Group creation failed, show error notification
                await _notificationService.ShowErrorNotification("Gruppeoprettelse mislykkedes.","Noget gik galt!, Prøv igen senere");
            }
        }
        catch (Exception ex)
        {
            // Handle exceptions, log errors, or display error messages
            Console.WriteLine(ex);
        }
    }
    private void GoBack()
    {
        // Navigate back to the customer page
        NavigationManager.NavigateTo($"/customer/{customerId}");
    }
}

