
    <AuthorizeView>
        <Authorized>
            <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
            <form method="post" action="Identity/Account/Logout">
                <button type="submit" class="nav-link btn btn-light">Log out</button>
            </form>
        </Authorized>

        <NotAuthorized>
        <a href="Identity/Account/Register" class="custom-register-link">Register</a>
        <a href="Identity/Account/Login" class="custom-register-link">
            <i class="fa fa-sign-out"></i>
            Log in
            </a>
        </NotAuthorized>
    </AuthorizeView>


